/* ----------------------------------------------- */

/*        Rides page (Mobile first design)         */

/* ----------------------------------------------- */

.wall {
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.52)), url(../images/cabbie-2.jpg);
  width: 100%;
  height: 300px;
  background-size: 100% 200px;
  z-index: -1;
  opacity: 1;
  /* Center and scale the image nicely */
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  font-size: initial;
  text-align: center;
  padding-top: 70px;
  position: relative;
}

.heading h2 {
  color: #fff;
  letter-spacing: 5px;
  position: relative;
  font-weight: 300;
  font-family: 'Fredoka One', cursive, sans-serif;
  font-size: 2.0rem;
  text-shadow: 3px 3px 1px #181818;
}

.heading p {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  text-shadow: 3px 3px 1px #181818;
}

.contain {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 80%;
}

.rows::before,
.rows::after {
  display: table;
  content: " ";
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 3rem;
}

.search {
  margin: 50px auto;
  position: relative;
  width: 100%;
}

.searchTerm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding: 5px 45px 5px 5px;
}

.searchButton,
.searchIcon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  background: #362130;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}

.searchButton {
  opacity: 0;
  z-index: 1;
}

.searchIcon:before {
  content: '\f002';
}

/* Todo clean up some crappy code */

.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    /* the whole content of the card becomes linked, so this will give the text a "normal" appearance */
    text-decoration: none;
    box-shadow: (rgba(black, 0.19) 0 0 8px 0);
    border-radius: (4px);
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 980px) {
  /* switch to 3 columns */
  .card {
    margin-right: 20px;
    margin-right: 0;
  }
  span {
    display: block;
  }
  .card-summary {
    padding: 5% 5% 3% 5%;
  }
  .card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(white, .15);
    background-blend-mode: overlay;
    border-radius: (4px 4px 0 0);
    background-color: rgba(white, 0);
  }
  .card-title {
    background: rgba(157, 187, 63, .85);
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .card-title h3 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
  }
  .card-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    transition-property: (max-height);
    transition-duration: (.4s);
    transition-timing-function: (ease-in-out);
  }
  .card :hover,
  :focus {
    background: white;
    box-shadow: (rgba(black, 0.45) 0px 0px 20px 0px);
  }
  .card-title :hover,
  :focus {
    background: rgba(157, 187, 63, .95);
  }
  .card-meta {
    max-height: 1em;
  }
}

img {
  max-width: 100%;
  /* stop images from breaking out of their bounding boxes. */
}

/* * {
  @include transition-property(
    background-color,
    border-color,
    box-shadow: ,
    color,
    opacity,
    text-shadow,
    transform
  );
  @include transition-duration(0.2s);
  @include transition-timing-function(linear);
} */