/* Mobile first styles go here */

@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Ubuntu:400,700');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Kaushan+Script|Permanent+Marker');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

body,
html {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  background: #eeeeee;
  height: 100%;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #362130;
}

.content {
  flex: 1 0 auto;
  font-size: 1.0rem;
}

.bg {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.52)), url(../images/cabbie.jpg);
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

header {
  background: rgba(255, 255, 255, 0.76);
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #362130;
  min-height: 50px;
}

.header-logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.brand {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  border-bottom: 1px solid #6aa1c4;
}

.logo {
  padding-top: 0.5rem;
  width: auto;
}

nav.nav-bar ul li {
  list-style: none;
  padding: 20px 0;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.list {
  margin: 3em;
  background-color: rgba(255, 255, 255, 0.7);
}

h3 {
  text-transform: uppercase;
  color: #363851;
  border-bottom: 1px solid #d8bfd8;
  margin: 5px;
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
}

label {
  display: inline-block;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

.filter {
  font-size: 10px;
}

.landing {
  font-size: initial;
  text-align: center;
  padding-top: 130px;
}

.landing h1 {
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Fredoka One', cursive, sans-serif;
  font-size: 3.25rem;
  text-shadow: 3px 3px 1px #181818;
}

.landing p {
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 3px 3px 1px #181818;
}

.btn-default {
  border: 1px solid #363851;
}

.btn {
  border-radius: 10px;
  background: transparent;
  padding: 0.2rem 0.85rem;
  color: #363851;
}

.btn-landing {
  border: 1px solid #fff;
  color: white;
}

.btn-sm {
  border: 1px solid #111;
  border-radius: 3px;
  padding: 0.1rem 0.75rem;
  color: #363851;
  font-size: 11px;
}

.btn-primary {
  background: #363851;
  color: white;
}

.btn-edit {
  background: #f6ff6c;
  color: #111;
}

.btn-delete {
  color: white;
  background: #ff4f4f;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.row {
  margin: 0 auto;
}

.col-1 .col-1-2 {
  width: 100%;
  padding-top: 15px;
}

nav .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-toggle .mdi-view-sequential {
  background: #D1CBCB;
  border: 1px solid #ddf3ff;
  color: #ddf3ff;
  font-size: 2.5rem;
}

.main-nav {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  margin: 2.8rem auto 0;
  width: 20.0rem;
}

.main-nav li {
  margin: 0 auto 2.3rem;
  width: fit-content;
}

.main-nav li a:link,
.main-nav li a:visited {
  border-bottom: 2px solid transparent;
  color: black;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-bottom 0.2s;
}

.main-nav li a.active {
  border-bottom: 2px solid #99dcff;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e1b12c;
}

.navbar-show {
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea, select {
    font-size: 15px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
}

.btn,
input[type=submit],
input[type=button] {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  padding: 10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit] {
  background-color: #363851;
  border: 1px solid #363851;
}

input[type=submit]:hover,
input[type=submit]:active {
  background-color: #363851;
}


input[type=button] {
  background-color: #bb3615;
  border: 1px solid #bb3615;
}

input[type=button]:hover,
input[type=button]:active {
  background-color: #882810;
}

footer {
  background: #363851;
  width: 100%;
  bottom: 0;
}

footer p {
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 11px;
}

/* ----------------------------------------------- */
/* Forms */
/* ----------------------------------------------- */
.section-form {
  margin-bottom: 5.0rem;
  font-size: initial;
  margin-top: 7.0rem;
}

.signup-form {
  padding: 1.6rem;
  width: 100%;
}

.signup-form .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 2.3rem;
}

.card-form {
  background-color: rgba(72, 84, 85, 0.57);
  max-width: 600px;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.form-title {
  color: #fff;
  margin-bottom: 4.0rem;
  text-align: center;
  text-transform: uppercase;
}

.form-group label {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 0.9rem;
}

.form-control
 {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}

.signup-form .submit-btn {
  display: flex;
  flex-direction: column;
  margin-top: 2.6rem;
}

textarea {
  resize: none;
}

.form-info {
  align-self: center;
  color: #fff;
  margin-top: 1.0rem;
}

.form-info  a {
  color: #e1b12c;
  margin-top: 1.0rem;
}

.update-btn input[type=button]{
  margin-top: 1.6rem;
}

footer a {
  color: white;
}

/* ********************* */
/*      Pagination       */
/* ********************* */
.pagination {
  text-align: center;
  margin-bottom: 5.0rem; 
  margin-top: 5.0rem; 
}

.pagination a {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #363851;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  color: #555;
}

/**/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card {
  background: #fff;
  padding: 10px;
  /* border-top: 3px solid #CB3438; */
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_content
{
  /**/
  padding-top: 15px;
}
.card_content a button
{
  border: 2px solid rgb(99, 125, 193);
  /**/
  background-color: rgb(99, 125, 193);
  color: #ffffff;
}
.card_content a button:hover
{
  border: 2px solid #4CAF50;
  /**/
  background-color: #4CAF50;
  color: #ffffff;
}
.card_content a button.danger:hover
{
  border: 2px solid #CB3438;
  /**/
  background-color: #CB3438;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}

h3 {
  padding-top: 40px;
}

table {
  font-size: 1.2rem;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/** Media queries **/

@media only screen and (max-width: 900px) {
  .landing h1 {
    font-size: 2.85rem;
  }
  .wrapper {
    width: 90%;
  }
  .table-res {
    overflow-x: auto;
  }
}

@media only screen and (min-width: 900px) {
  header {
    display: inline-block;
    text-align: left;
  }
  .brand {
    padding: 30px 60px;
    border: none;
    float: left;
  }
  nav.nav-bar ul li {
    float: right;
    padding: 40px 20px 40px 0;
  }
  nav .row {
    flex-direction: row;
  }
  nav .main-nav {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 0;
    margin-right: 0; 
  }
  .nav-toggle {
    display: none;
  }
  .main-nav {
    width: 25.0rem;
  }
  
  .request-form {
    margin-top: 10.0rem;
  }

  .section-details {
    margin-top: 8.5rem;
  }

  .user-requests {
    margin-top: 14.6rem;
  }

  .signup-form .form-group {
    flex-direction: row;
    justify-content: space-between;
  }

  .signup-form .submit-btn {
    flex-direction: row;
    justify-content: flex-end;
  }

  .update-btn input[type=button]{
    margin-top: 0;
    margin-left: 5.9rem;
  }

  .signup-form .create-btn {
    justify-content: center;
  }

  .form-control {
    width: 70%;
  }

  .signup-form .form-info {
    margin-left: 1.6rem;
  }
  footer p {
    font-size: 14px;
  }
  .col {
    float: left;
    padding: 10px;
  }
  .col-1 {
    width: 100%;
  }
  .col-1 .col-1-2 {  
    width: calc((100% / 2) - 5%);
  }
}

@media only screen and (min-width: 1200px) {
  .card_image
  {
    position: relative;
    float: left;
    width:  100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    overflow: hidden;
  }
}